<a href="https://colab.research.google.com/github/Hildebrando1982/Python/blob/main/Python_B%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aula 1 - Explorando Células, a Função `print` e Tipos de Dados**

números: int (inteiros), float (com casas decimais)

In [2]:
print(2025)

2025

Textos ou palavras são strings

In [1]:
print('Olá mundo!')

Olá mundo!

In [4]:
print("Olá mundo!")

Olá mundo!

In [3]:
print(olá mundo!) #erro de sintaxe porque não foi colocado as aspas entre o string

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3018930783.py, line 1)

In [5]:
print('Olá mundo!' + 5) #neste caso somente pode concatenar string e não pode int

TypeError: can only concatenate str (not "int") to str

In [7]:
print('Olá mundo! ' + '5') #neste caso o 5 não é int e sim string (caractere)

Olá mundo! 5

**Aula 2 - Variáveis, Operações Matemáticas e Concatenação de Strings**

In [13]:
print(5+2) #vai exibir o resultado da soma que é 7

7

Variáveis são espaços na memória que tem finalidade de armazenar um determinado valor numerico ou string

In [14]:
produto1 = 5 #Isso é uma variável, foi guardado na memória

In [15]:
print(produto1) #exibe na tela o resultado

5

In [12]:
produto2 = 2000

In [16]:
print(produto2)

2000

In [17]:
produto3 = 1

In [18]:
print(produto1 + produto2 + produto3) #faz a soma e exibe na tela

2006

In [19]:
nome_do_produto1 = 'macarrão'
nome_do_produto2 = 'celular'
nome_do_produto3 = 'bala'

print(nome_do_produto1 + ' ' + nome_do_produto2 + ' ' + nome_do_produto3)
#aqui houve uma concatenação

macarrão celular bala

**Aula 3 - Operações Matemáticas e Variáveis em Python: (+ - * / %)**

In [20]:
amigos = 5
aluguel = 1000
supermercado = 500
carro = 400

In [22]:
total = aluguel + carro + supermercado

In [24]:
print(total)

1900

In [32]:
aluguel = aluguel - 100
total = aluguel + carro + supermercado

In [33]:
print(total)

1700

In [34]:
print(aluguel)

800

In [37]:
amigos = 6
aluguel = 1000
supermercado = 500
carro = 400
print(aluguel)

1000

In [38]:
print(carro * 2)

800

In [40]:
total_de_carros = carro * 2

In [41]:
print(total_de_carros)

800

In [43]:
total = aluguel + supermercado + total_de_carros
print(total)

2300

In [50]:
total_por_pessoa = total / amigos
print (total_por_pessoa)

383.3333333333333

**Aula 3 - Nomeclatura e Tipos de Dados em Python: `int`, `float`, `str` e `bool`**

Não pode usar variável:

**total de amigos** (palavras separada por espaços)

**10amigos** (variável que começa com número)

**print** (variável com nome de comando)

In [56]:
#para saber o tipo de variável usa-se type()
type(aluguel)

int

In [58]:
type(produto1)

int

In [55]:
type(True)

bool

In [57]:
type(25.5)

float

In [60]:
pedro_tem_cnh = True
mario_tem_cnh = False

In [61]:
type(pedro_tem_cnh)

bool

In [62]:
type(mario_tem_cnh)

bool

**Aula 4- Manipulando Strings em Python: Métodos `lower`, `upper`, `strip` e `replace`**

inicial = '    Hildebrando MARques da SIlva FiLHo   '

final = 'HILDEBRANDO MARQUES DA SILVA FILHO'

In [85]:
inicial = '    Hildebrando  MARques da SIlva FiLHo   '

In [86]:
print(inicial)

    Hildebrando  MARques da SIlva FiLHo

In [88]:
print(inicial.lower()) #tudo em minúscula

    hildebrando  marques da silva filho

In [89]:
print(inicial.upper()) #tudo em maiúscula

    HILDEBRANDO  MARQUES DA SILVA FILHO

In [90]:
print(inicial.strip())
#retira os espaços extras antes do início e depois do final

Hildebrando  MARques da SIlva FiLHo

In [91]:
print(inicial.replace("  ", " "))
#substitui neste caso 2 espaços por um espaço
#você pode fazer outras substituições ao seu critério

  Hildebrando MARques da SIlva FiLHo

In [92]:
print(inicial)

    Hildebrando  MARques da SIlva FiLHo

In [93]:
print(inicial.strip().upper().replace("  ", " "))

HILDEBRANDO MARQUES DA SILVA FILHO

Para mudar a variável inicial:

In [94]:
inicial = inicial.strip().upper().replace("  "," ")
print(inicial)

HILDEBRANDO MARQUES DA SILVA FILHO

**Aula 5 - Recebendo Dados do Usuário com `input` e Formatando Textos com fStrings**

In [95]:
#entrada de dados
#neste caso não, há variável para armazenar o dado
input('Digite o seu nome: ')

Digite o seu nome: Hildebrando

'Hildebrando'

In [98]:
#entrada de dados
#neste caso, há variável para armazenar o dado
nome = input('Digite o seu nome: ')

Digite o seu nome: Hildebrando

In [99]:
print(nome)

Hildebrando

In [106]:
idade = input('Digite a sua idade:')

Digite a sua idade:43

In [107]:
print(idade)

43

In [108]:
type(nome)

str

In [109]:
type(idade)

str

In [111]:
idade = int(idade)

In [112]:
type(idade)

int

In [115]:
#uma forma de concatenar string e int, usa f antes das aspas.
#o nome da variável coloca entre chaves
#o nome dessa concatenação é f-strings
print(f'A pessoa se chama {nome} e tem {idade} anos de idade.')

A pessoa se chama Hildebrando e tem 43 anos de idade.

**Aula 6 - Condicionais**

Se chover, então eu vou sair com guarda-chuva.

Se o café estiver amargo, então eu vou colocar açúcar para adoçar.

Se o video game custa 5000 e eu não tenho dinheiro, então eu não vou poder comprá-lo.

In [126]:
#criar algoritmo para saber se a pessoa tem idade para poder dirigir
nome = input('Digite o seu nome: ')
idade = int(input('Digite a sua idade: '))
print('')
if idade >= 18:
  #esse espaço do print é chamado de identação
  print(f'{nome}, você tem {idade} anos.')
  print('Tem idade para dirigir.')
else:
  print(f'{nome}, você tem {idade} anos.')
  print('Você NÃO tem idade para dirigir.')

Digite o seu nome: Hildebrando
Digite a sua idade: 43

Hildebrando, você tem 43 anos.
Tem idade para dirigir

In [141]:
'''
Crie um algoritmo que armazene 3 notas e calcular a média.
Se a média for igual ou maior que 7.0, aprovado.
Se a média for menor que 7.0 e maior que 5.0, recuperação.
Se a média for menor que 5.0, reprovado.
'''
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))

media = (nota1 + nota2 + nota3) / 3

if media >= 7.0:
  print(f'Media: {media:.1f}')
  print('Aprovado! =)')
elif media > 5.0:
  print(f'Media: {media:.1f}')
  print('Recuperação! =`(')
else:
  print(f'Media: {media:.1f}')
  print('Reprovado! =`(')

Digite a primeira nota: 6
Digite a segunda nota: 5
Digite a terceira nota: 4
Media: 5.0
Reprovado =`(